<h1 class="text-center my-3"><%= @cocktail.name %></h1>
<div class="container">
  <div class="d-flex justify-content-center">
    <%= cl_image_tag @cocktail.image, width: 300, height: 400, crop: :fit %>
    <ol>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %>: <%= dose.description %> cl
          <%= link_to "🗑", dose, method: :delete, data: { confirm: "Are you SURE?" } %>
        </li>
      <% end %>
      <%= simple_form_for [@cocktail, @dose], method: :post, html: { class: 'form-inline' } do |f| %>
        <%= f.input :ingredient_id, collection: @ingredients_names %>
        <%= f.input :description %>
        <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
      <% end %>
      <%= simple_form_for @cocktail, method: :patch, html: { class: 'form-inline'} do |f| %>
        <%= f.input :image %>
        <%= f.input :remote_image_url %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit "Add an image", class: 'btn btn-primary' %>
      <% end %>
    </ol>
  </div>
  <%= link_to "Delete", @cocktail, method: :delete, class: "btn btn-danger btn-block mt-3", data: {confirm: "Really???"} %>
</div>
